<p>add-delivery works!</p>

<ul>
    <li *ngFor="let agenda of data; index as i;"> id trabajo agenda:{{agenda.id_trabajo_agenda}} - Fecha:{{agenda.fecha}} - Hora Inicio:{{agenda.hora_inicio}} - Hora Fin:{{agenda.hora_fin}} - Id Espacio:{{agenda.id_espacio}} - Id trabajo:{{agenda.id_trabajo}} - Espacio:  Descripcion:{{agenda.espacio.descripcion}} - Id campus:{{agenda.espacio.id_campus}} - url webinar:{{agenda.espacio.url_webinar}} - Campus:  Id campus{{agenda.espacio.campus.id_campus}} - nombre campus:{{agenda.espacio.campus.nombre_campus}}</li>
</ul>
